/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.hero {
    background: url('../images/place\ 2.jpeg') no-repeat center center/cover;
    height: 4%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
}

/* About Section */
#about {
    padding: 20px 0;
}

#about h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Services Section */
#services .service-card {
    text-align: center;
    margin-bottom: 20px;
}

#services .service-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Gallery Section */
#gallery img {
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    margin-top: 20px;
}
